<!DOCTYPE html>
<html lang="en" ng-app="market">
<head>
    <meta charset="UTF-8">
    <title>Market</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-route.min.js"></script>
    <link rel="icon" href="favicon-32x32.png" type="image/x-icon">
</head>
<body>
<div class="container" ng-controller="indexController">

    <h1>Winter market</h1>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#!/">Winter Market</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/store">Каталог товаров</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/cart">Корзина</a>
            </li>
            <li class="nav-item" ng-show="isUserLoggedIn()">
                <a class="nav-link" href="#!/orders">Мои заказы</a>
            </li>

            <li class="nav-item" ng-show="!isUserLoggedIn()">
                <form class="align-middle" ng-submit="tryToAuth()">
                    <div class="input-group input-group-sm" style="...">
                        <input id="navLoginField" class="form-control" ng-model="user.username" type="text"
                               aria-describedby="inputGroup-sizing-sm" style="...">
                        <input id="navPasswordField" class="form-control" ng-model="user.password" type="password"
                               aria-describedby="inputGroup-sizing-sm" style="...">
                        <button id="navLoginSubmit" class="btn btn-outline-warning btn-sm"
                                style="..." type="submit">Войти
                        </button>
                    </div>
                </form>
            </li>
            <li class="nav-item" ng-show="!isUserLoggedIn()">
                <a class="nav-link" href="#!/registration">Регистрация</a>
            </li>
            <li class="nav-item" ng-show="isUserLoggedIn()" style="...">
                <button class="btn btn-outline-secondary btn-sm" ng-click="tryToLogout()">Выйти</button>
            </li>
        </ul>
    </nav>


    <ng-view></ng-view>
    <script src="index.js"></script>
    <script src="store/store.js"></script>
    <script src="cart/cart.js"></script>
    <script src="welcome/welcome.js"></script>
    <script src="orders/orders.js"></script>
    <script src="registration/registration.js"></script>

    <h3>Create new product</h3>
    <form novalidate ng-submit="submitCreateProduct()">
        <div class="form-group col-md-6">
            <label for="newProductTitle">Title</label>
            <input class="form-control" type="text" ng-model="newProduct.title" id="newProductTitle">
        </div>
        <div class="form-group col-md-6">
            <label for="newProductCost">Price</label>
            <input class="form-control" type="text" ng-model="newProduct.price" id="newProductCost">
        </div>
        <div class="form-group col-md-6">
            <label for="newProductCategory">Category</label>
            <input class="form-control" type="text" ng-model="newProduct.categoryTitle" id="newProductCategory">
        </div>
        <div>
            <button class="btn btn-success mt-2 mb-5">Save</button>
        </div>
    </form>
</div>
</body>
</html>